<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Accueil", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "À Propos", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projets", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
      </ul>
      <div class="company_name">
        <%= link_to "NOTRE NOM", "#", class: "nav-link" %>
      </div>


      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Actualité", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Clients", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "-", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Tarif", "#", class: "nav-link" %>
        </li>
    </ul>
  </div>
</div>
